.App {
  text-align: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  position: relative;
  padding: 2rem;
  pointer-events: none;
  z-index: 1000;
}
